
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

// Font Variables
$roboto-font: 'Roboto', serif;   
$principal-color: white;
$accentuation-color: #1565c0;
$accentuation-dark-color: #003c8f;
$accentuation-light-color: #5e92f3;
$secondary-color: #757575;
$dark-color: #212121;